@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Conteúdo geral da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Arial, Helvetica;
  margin: 0;
  padding: 0;
}

h1, h2{
  font-weight:800;
  color: rgb(14, 56, 14);
  text-align: left; 
  margin-right: auto;
}

.containerConteudo {
  width: 90%;
  max-width: 1700px;
  height: 80vh;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Montserrat', Arial, Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.barraPesquisa {
  width: 100%;
  height: 6px;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.barraPesquisa input[type="text"] {
  width: auto;
  padding: 8px; /* Aumente o preenchimento para 8px ou ajuste conforme desejado */
  margin: 0; /* Redefina as margens para evitar afetar o posicionamento */
  border: none; /* Remova a borda para uma aparência mais limpa */
  font-size: 16px; /* Tamanho da fonte para a barra de pesquisa */
  font-weight: normal; /* Pode ser alterado conforme necessário */
  background: none; /* Remova o plano de fundo para que a barra de pesquisa seja transparente */
  color: #000; /* Cor do texto */
}

/* Estilização dos outros campos de texto e seleção, incluindo rótulos */
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo para os rótulos */
label {
  font-weight: bold;
}

/* Estilo para os rótulos dos campos de seleção */
select + label {
  margin-top: 10px;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.topContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px; /* Ajuste o espaçamento conforme necessário */
}

.headerActions {
  display: flex;
  align-items: center;
}

/* CSS do componente da AdicionarUsuarioPopup.tsx */

form {
  margin-top: 20px; /* Ajuste a quantidade de espaço conforme necessário */
}

input[type="text"],
select {
  width: 100%;
  padding: 10px; /* Adicione algum preenchimento para melhorar a aparência */
  margin-bottom: 10px; /* Espaçamento inferior entre os elementos */
  border: 1px solid #ccc; /* Adicione uma borda para separar os elementos */
  border-radius: 5px; /* Cantos arredondados para um visual mais atraente */
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
}

.emailInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.passwordInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo para os rótulos */
label {
  font-weight: bold;
}

/* Estilo para os rótulos dos campos de seleção */
select + label {
  margin-top: 10px; /* Espaçamento superior para separar os rótulos das caixas de seleção */
  display: block; /* Coloca os rótulos em uma nova linha */
}







