
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background: darkgreen;
  border: 1px solid darkgreen;
  color: white;
  padding: 1vh 1vw;
}

tbody tr:nth-child(odd) {
  background: #f2f2f2;
}

tbody td {
  border: 1px solid darkgreen;
  padding: 1vh 0.5vw;
}

tfoot td {
  background: darkgreen;
  border: 1px solid darkgreen;
  color: white;
  padding: 1vh 0.5vw;
  min-height: 2.2vh; 
}

th:nth-child(1), td:nth-child(1) {
  width: 40%;
}

th:nth-child(2), td:nth-child(2) {
  width: 20%;
}

th:nth-child(3), td:nth-child(3) {
  width: 20%;
}

th:nth-child(4), td:nth-child(4) {
  width: 20%;
}

@media screen and (max-width: 768px) {
  th, td {
    width: auto; 
  }
}

.enabledButton {
  color: lightblue; 
  font-weight: bold; 
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

input {
  flex: 1;
  border: none;
  outline: none;
}

.search-icon-container {
  display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: #f0f0f0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-icon {
  color: #555;
  font-size: 20px;
}


/* TabelaColetas.module.css */

.searchContainer {
  display: flex;
  justify-content: flex-end; /* Alinha os elementos à direita */
  align-items: center;
}

.dateFilters {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Ou qualquer outra margem desejada entre os elementos */
}

/* Estilize os elementos de input, p, etc. conforme necessário */

